body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    color: white;
}

#app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.log {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}


button {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    margin: 10px auto;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

form {
    width: 100%;
    margin: 2px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

label {
    display: inline-block;
    margin: 20px 0 10px;
}

input {
    width: 60%;
    padding: 20px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin: 10px auto;
    outline: none;
    color: white;
}

input::placeholder {
    color: white;
    opacity: 0.6;
}

p {
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

span {
    font-weight: bold;
    color: #1FA2FF;
    cursor: pointer;
}

.error {
    color: #1FA2FF;
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navitems {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    margin: 10px auto;
    padding: 10px;
}

nav p {
    margin: 2px auto;
    font-size: 16px;
    color: #2980B9;
}

nav p.email {
    font-size: 14px;
    color: #999;
}

.navbar {
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-window {
    background: #fafafa;
    padding: 30px 20px;
    height: 700px;
    width: 100%;
}

.single {
    margin: 18px 0;

}

.created-at {
    display: block;
    color: #999;
    font-size: 12px;
    margin-bottom: 4px;
}

.name {
    font-weight: bold;
    margin-right: 6px;
    color: black;
}

.messages {
    max-height: 600px;
    overflow: auto;
    float: auto;
    margin-left: 50px;
}